---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Todo + HTMX</title>
		<meta name="description" content="Todo + HTMX" />
		<link rel="icon" href="/favicon.svg" type="image/x-icon" />
	</head>
	<body>
		<slot />
	</body>
</html>
